Source: xfardic
Section: gnome
Priority: optional
Maintainer: Debian Arabic Packaging Team <debian-arabic-packages@lists.alioth.debian.org>
Uploaders: Alan Baghumian <alan@technotux.org>, Lior Kaplan <kaplan@debian.org>
Build-Depends: debhelper (>= 5.0.0), autotools-dev, libxml2-dev, libwxgtk2.6-dev, libgnome-desktop-dev, libnotify-dev, libaspell-dev (>= 0.60.4), libsqlite3-dev, libgnome-speech-dev
Standards-Version: 3.7.2

Package: xfardic
Architecture: any
Depends: ${shlibs:Depends}, aspell-en, xfardic-xdb, notification-daemon
Description: Multilingual Dictionary Engine
 xFarDic is a Multilingual dictionary engine based on wxGTK, 
 libxml2 and GTK2 with several XDB word databases.
 .
 Homepage: http://www.xfardic.org 
